body {
  background-color: #f5f5f5;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

button {
  background-color: rgba(0, 0, 0, 1);
}

button.hollow {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #000;
  color: #000;
  padding: 3px 6px;
}

button:hover {
  background-color: rgba(0, 0, 0, .7);
}

button:active {
  background-color: rgba(0, 0, 0, .5);
}

// 淡入淡出
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

.currency {
  &::before {
    content: '￥';
    margin-right: 3px;
    font-size: 16px;
  }
}

.ball_ellipse {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
  margin: auto;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: ball_ellipse_parent 2.4s linear infinite;
  animation: ball_ellipse_parent 2.4s linear infinite;
}

.ball_ellipse div {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ball_ellipse div:nth-child(1) {
  left: 0;
  right: 0;
  -webkit-animation: ball_ellipse_up 2.4s linear infinite;
  animation: ball_ellipse_up 2.4s linear infinite;
}

.ball_ellipse div:nth-child(2) {
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: ball_ellipse_down 2.4s linear infinite;
  animation: ball_ellipse_down 2.4s linear infinite;
}

.ball_ellipse div:nth-child(3) {
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: ball_ellipse_up 2.4s linear infinite;
  animation: ball_ellipse_up 2.4s linear infinite;
}

.ball_ellipse div:nth-child(4) {
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: ball_ellipse_down 2.4s linear infinite;
  animation: ball_ellipse_down 2.4s linear infinite;
}

.ball_ellipse div:nth-child(5) {
  background-color: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes ball_ellipse_parent {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    width: 120px;
    height: 120px;
  }
  66% {
    width: 40px;
    height: 40px;
  }
  100% {
    -webkit-transform: rotate(360DEG);
    transform: rotate(360DEG);
  }
}

@keyframes ball_ellipse_up {
  66% {
    opacity: .1;
    height: 40px;
  }
  77% {
    opacity: 1;
    height: 0;
  }
}

@keyframes ball_ellipse_down {
  66% {
    opacity: .1;
    width: 40px;
  }
  77% {
    opacity: 1;
    width: 0;
  }
}

.see-more {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #b5b5b5;
  &::after {
    content: '';
    display: inline-block;
    vertical-align: baseline;
    margin-left: 3px;
    border-top: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

section {
  .content-header {
    margin-bottom: 40px;
    border-bottom: 1px solid #b5b5b5;
    h1 {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 2px solid #000;
    }
  }
}

.input-group {
  margin-bottom: 35px;
  label {
    margin-right: 25px;
    font-size: 16px;
    vertical-align: middle;
  }
  input[type="text"] {
    height: 35px;
    border: 1px solid #b5b5b5;
    padding: 0 5px;
    margin-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .radio-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    input {
      vertical-align: middle;
    }
  }
}

